<!DOCTYPE html>
<html lang="TW">
  <%
    function capWords(str) {
        // we split string by words in an array
        // and we iterate on each word to capitalize the first letter
        // and we join each element with a space
        return str.split(' ').map(function(str) {
            return str[0].toUpperCase() + str.substr(1).toLowerCase()
        }).join(' ');
    }

    var title = page.title;
    if (is_archive()) {
        title = __('Viewing');
        if (is_month()) {
            title += ': ' + page.year + '/' + page.month;
        } else if (is_year()) {
            title += ': ' + page.year;
        }
    } else if (is_category()) {
        title = __('Viewing') + ': ' + page.category;
    } else if (is_tag()) {
        title = __('Viewing') + ': ' + page.tag;
    }

    function generateExcerpt(post) {
      var maxExcerptWords=theme.max_excerpt_words;
      if(!post.content){
          return;
      }
      let str = post.content.substring(0,maxExcerptWords+200);
      let imgStartIndex = str.indexOf(`<img`, 0);
      if(imgStartIndex != -1){
          let regExp =  new RegExp(`<img.*?>`);
          let matches = post.content.match(regExp);
          if (matches){
              let imgEndIndex = imgStartIndex + matches[0].length;
              str = str.substring(0, imgStartIndex-1)
              str = strip_html(str);
              str += matches[0];
              str += strip_html(post.content.substring(imgEndIndex,imgEndIndex+50));
              return str+"...";
          }
      }else{
          str= str.substring(0, maxExcerptWords);
      }
      str=strip_html(str);
      str+=`...`;
      return str;
    }
  %>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- 您的網路共筆-UrWeb -->
  <title>
    <% if (title) { %>
      <%= capWords(title) + ' | ' %> 
    <% } %>
    <%= config.title %>
  </title>
  <% if(is_home()){ %>
    <meta name="description" content="分享技術、生活、周遭大小事的共同筆記部落格，等您造訪獲得更多訊息!">
  <% } %>
  <% if(is_post()){ %>
    <meta name="description"
          content="文章作者: <%- page.author %> 創作日期: <%- date( page.date , 'YYYY/MM/DD' ) %> 文章類型: <% page.categories.each(category=>{ %><%- category.name %><% }) %>，查看本文章獲取更多訊息。">
  <% } %>
          <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
            integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
            crossorigin="anonymous" />
          <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
            rel="stylesheet">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" />
          <link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css" />
          <%- css('assets/hexo/css/prism.css') %>
            <%- css('assets/hexo/css/main.css') %>
              <!-- Google Tag Manager -->
              <script>(function (w, d, s, l, i) {
                  w[l] = w[l] || []; w[l].push({
                    'gtm.start':
                      new Date().getTime(), event: 'gtm.js'
                  }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                      'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', 'GTM-T4FDJRJ');</script>
              <!-- End Google Tag Manager -->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
                integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body onload="responsiveIframe()">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4FDJRJ" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
    <div class="mobileBox">
      <div class="brandBox">
        <a href="/" class="d-flex align-items-center">
          <h1 class="m-0">
            <%= config.title %>
          </h1>
        </a>
      </div>
      <div class="desktop-show"> <%- search_form({class:"input-group",button:true,external: true}) %>
      </div>
      <a href="#" id="barBtn">
        <span>hamburger-icon</span>
        <!-- <i class="hamburger fa-solid fa-bars"></i> -->
        <!-- <span class="material-symbols-outlined">menu</span> -->
        <img class="hamburger" src="/assets/hexo/img/burger-menu-svgrepo-com.svg" alt="hamburger-icon">
      </a>
    </div>
  </header>
  <!-- <h1>
      <a href="/">Home</a> |
      <a href="<%-url_for(config.archive_dir)%>">Archive</a> |
      <%- config.tag_dir %>
      <a href="/about/">About</a>
    </h1> -->
  <div class="outterWrap container-fluid">
    <aside class="leftAside">
      <nav>
        <ul>
          <%- search_form({class:"d-md-none input-group",button:true,external: true}) %>
            <!-- <li>
            <h4>
              <a href="/about/">關於我們</a>
            </h4>
          </li> -->
            <li style="margin-top: 50px;">
              <h4>
                <a href="https://forms.gle/Mzn7eLEtW3oiscMT6" target="_blank">Contact / Subscribe</a>
              </h4>
            </li>
            <li>
              <h4>
                <a href="#" id="authorsBtn">Authors
                  <!-- <i class="fa-solid fa-square-caret-up"></i> -->
                  <div class="uponIcon"></div>
                </a>
              </h4>
              <div id="authors">
                <ul class="author-list">
                  <li>
                    <a href="<%-url_for("author/kai98k")%>">kai98k</a>
                  </li>
                  <li>
                    <a href="<%-url_for("author/johch3n611u")%>">johch3n611u</a>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <h4>
                <a href="#" id="categoriesBtn">Categories 
                  <!-- <i class="fa-solid fa-square-caret-up"></i> -->
                  <div class="uponIcon"></div>
                </a>
              </h4>
              <div id="categories">
                <%- list_categories() %>
              </div>
            </li>
            <li>
              <h4>
                <a href="#" id="tagsBtn">Tags 
                  <div class="uponIcon"></div>
                  <!-- <i class="fa-solid fa-square-caret-up"></i> -->
                </a>
              </h4>
              <div id="tags"><%- tagcloud({amount: 30,}) %></div>
            </li>
            <li style="margin-top: 50px;">
              <h4>
                <a href="https://urwebapp.github.io/assets/angular/ec/index.html" target="_blank">EC Demo</a>
                <a href="https://urwebapp.github.io/en-word-hero/" target="_blank">EnglishLearningHelper</a>
              </h4>
            </li>
        </ul>
      </nav>
    </aside>
    <%- body %>
      <% if(is_post()){ %>
        <aside class="rightAside">
          <section>
            <h4>Table of contents</h4>
            <%- toc(page.content,{list_number:false}) %>
          </section>
        </aside>

        <div class="mobileBtn btn">
          <!-- <i class="fa-solid fa-book-bookmark"></i> -->
          <div class="bookmarkIcon"></div>
        </div>

        <div class="modal" tabindex="-1" id="tocModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Table of Contents</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                  onclick="tocModalClose()"></button>
              </div>
              <div class="modal-body">
                <%- toc(page.content,{list_number:false}) %>
              </div>
            </div>
          </div>
        </div>

        <% } %>
  </div>
  <footer class="cotainer-fluid">
    <p id="milestone" class="text-center m-0">
      <span>Copyright © 2021-2023 UrWeb. All rights reserved.</span><br>
      <span>This site is in orbit around internet 1 days.</span>
      <span>people witnessed it all</span>
    </p>
  </footer>

  <!-- <h3>categories</h3>
    <ul>
      <% site.categories.each(category=>{ %>
      <li>
        <a href="<%- url_for(category.path) %>"> <%- category.name %> <%-console.log() %> </a>
      </li>
      <% }) %>
    </ul>

    <h3>tags</h3>
    <ul>
      <% site.tags.each(tag=>{ %>
      <li>
        <a href="<%- url_for(tag.path) %>"> <%- tag.name %> </a>
      </li>
      <% }) %>
    </ul> -->
</body>

<%- js('js/prism.js') %>
  <%- js('js/main.js') %>

</html>