<!-- 博客详情 -->
<main class="container postWrap">
  <article class="postArticle">
    <h1 class="pt-1"><%- page.title %></h1>
 <span class="waline-pageview-count" data-path="<%= encodeURIComponent(page.path) %>" /></span>
    <div class="infoBox">
      <p><%- date( page.date , 'YYYY/MM/DD' ) %></p>
      <span>|</span>
      <p><%= page.author %>
      </p>
      <span>|</span>
      <p>
        <% page.categories.each(category=>{ %>
          <a href="<%=url_for(category.path)  %> "><%- category.name %> </a>
          <% }) %>
      </p>
      <span>|</span>
      <ul class="tagBox">
        <% page.tags.each(tag=>{ %>
          <li>
            <a href="<%- url_for(tag.path) %>"><i class="fa-solid fa-tag"></i> <%- tag.name %>
            </a>
          </li>
          <% }) %>
      </ul>
    </div>
    <%- page.content %>

  </article>
  <div class="postNext d-flex justify-content-between mt-3 mb-3">
    <% if (page.prev) { %>
      <h4>
        <a href="<%- url_for(page.prev.path) %>"><i class="fa-solid fa-angles-left"></i> <%- page.prev.title %>
        </a>
      </h4>
      <% } %>
        <% if (page.next) { %>
          <h4>
            <a href="<%- url_for(page.next.path) %>">
              <%- page.next.title %> <i class="fa-solid fa-angles-right"></i>
            </a>
          </h4>
          <% } %>
  </div>
  <%- partial('_partial/comments.ejs')  %>
</main>