<main class="container postWrap">
  <article class="postArticle">
    <div class="postArticleHeader">
      <h1 class="pt-1"><%- page.title %></h1>
      <div class="infoBox">
        <i class="fa fa-eye" aria-hidden="true"></i>
        <p class="waline-pageview-count" data-path="<%- cnToEncode(page.path) %>" />
        </p>
        <span>|</span>
        <p><%- date( page.date , 'YYYY/MM/DD' ) %></p>
        <span>|</span>
        <p>
          <% page.categories.each(category=>{ %>
            <a href="<%=url_for(category.path)  %> "><%- category.name %> </a>
            <% }) %>
        </p>
        <span>|</span>
        <ul class="tagBox">
          <% page.tags.each(tag=>{ %>
            <li>
              <a href="<%- url_for(tag.path) %>">
                <!-- <i class="fa-solid fa-tag"></i>  -->
                <div class="tagIcon"></div>
                <%- tag.name %>
              </a>
            </li>
            <% }) %>
        </ul>
      </div>
    </div>
    <div class="postArticleContent">
      <div class="authorsWordsBox">
        <p class="title"><%= page.author %></p>
        <p class="content"><%= page.authorsWords ? page.authorsWords : theme.authorsWords %></p>
      </div>
      <%- page.content %>
    </div>
  </article>
  <div class="postNext d-flex justify-content-between mt-3 mb-3">
    <% if (page.prev) { %>
      <h4>
        <a href="<%- url_for(page.prev.path) %>">
          <span><<</span>
          <!-- <i class="fa-solid fa-angles-left"></i>  -->
          <%- page.prev.title %>
        </a>
      </h4>
      <% } %>
        <% if (page.next) { %>
          <h4>
            <a href="<%- url_for(page.next.path) %>">
              <%- page.next.title %> 
              <span>>></span>
              <!-- <i class="fa-solid fa-angles-right"></i> -->
            </a>
          </h4>
          <% } %>
  </div>
  <%- partial('_partial/comments.ejs') %>
    <input style="display:none" onload="addTotalViews()">
</main>