<% 
    function generateExcerpt(post) {
        var maxExcerptWords=theme.max_excerpt_words;
        if(!post.content){
            return;
        }
        let str = post.content.substring(0,maxExcerptWords+200);
        let imgStartIndex = str.indexOf(`<img`, 0);
        if(imgStartIndex != -1){
            let regExp =  new RegExp(`<img.*?>`);
            let matches = post.content.match(regExp);
            if (matches){
                let imgEndIndex = imgStartIndex + matches[0].length;
                str = str.substring(0, imgStartIndex-1)
                str = strip_html(str);
                str += matches[0];
                str += strip_html(post.content.substring(imgEndIndex,imgEndIndex+50));
                return str+"...";
            }
        }else{
            str= str.substring(0, maxExcerptWords);
        }
        str=strip_html(str);
        str+=`...`;
        return str;
    }
%>

 <%
    let posts;
    if(is_home()){ // 首頁
        posts = site.posts;
    }else if(path.indexOf("author")!==-1){ // 不等於首頁但 url 有匹配 author
        posts = site.posts.filter((post, index, array) => {
            return post.author == page.title;
        });
    }
    else{ // 不等於上述兩者
        posts = page.posts;
    }%>



    <%  if (path.indexOf("轉職成長")!=-1) {%>
        <div class="mb-5"><%- image_tag(url_for("assets/img/banner.png"), {class:"img-fluid ur-banner"}) %>
        </div>
    <% } %>

    <% if (path.indexOf("author")!=-1) { %>
                        <div class="authorBox card">
                            <div class="d-flex authorHeader">
                                <div class="authorNameBox">
                                    <h3><%- page.title %></h3>
                                    <p class="m-0">發表文章總數: <%- posts.length %></p>
                                </div>
                                <div class="avatar">
                                    <%  if (page.avatar) {%>
                                        <img class="img-fluid";" src="<%- page.avatar %>">
                                        <% } %>
                                </div>
                                <div class="socialBox d-flex">
                                <%  if (page.line) {%>
                                    <div class="iconLine">
                                        <a href="<%- page.line  %>" >
                                                <!-- <i class="fa-brands fa-line"></i> -->
                                        </a>
                                    </div>
                                            
                                        <% } %>
                                <%  if (page.ig) {%>
                                    <div class="iconInstagram">
                                        <a href="<%- page.ig  %>" >
                                                <!-- <i class="fa-brands fa-instagram"></i> -->
                                        </a>
                                    </div>
                                            
                                        <% } %>
                                <%  if (page.linkedin) {%>
                                            <a href="<%- page.linkedin  %>" class="iconLinkedin">
                                                <!-- <i class="fa-brands fa-linkedin-in"></i> -->
                                            </a>
                                        <% } %>
                                <%  if (page.github) {%>
                                            <a href="<%- page.github  %>" class="iconGithub">
                                                <!-- <i class="fa-brands fa-github"></i> -->
                                            </a>
                                        <% } %>
                                </div>
                            </div>
                            <hr>
                            <div class="authorIntro"> 
                                <p><%- page.content %></p>
                            </div>
                        </div>
                                <% }　%>
    <section class="waterfall">
        <% posts.each(post=>{ %>
            <article class="card item">
                <div class="card-body">
                    <h2 class="card-title"><a href="<%=url_for(post.path)%>">
                            <%= post.title %>
                        </a></h2>
                    <div class="infoBox">
                        <%  if (post.author) {%>
                            <i class="fa-solid fa-user-pen"></i><a href="<%=url_for("author/"+post.author)%>"><%= post.author %></a>
                            <% } %>
                            <span>|</span><p>
                            <% post.categories.each(category=>{ %>
                                <a href="<%=url_for(category.path)  %> "><%- category.name %> </a>
                                <% }) %>
                        </p><span>|</span><p><%- date( post.date , 'YYYY-MM-DD' ) %></p>

                    </div>
                    <p class="card-text">
                        <a href="<%- post.path %>"><% if (post.excerpt) { %>
                            <%- post.excerpt %>
                                <% } else { %>
                                    <%- generateExcerpt(post) %>
                                        <% } %></a>
                    </p>

                </div>
                <div class="card-footer">
                    <div class="footerInfo"> <a href="<%=url_for(post.path)%>" class="readBtn">Read More</a>
                    </div>

                    <ul class="tagBox">
                        <% post.tags.each(tag=>{ %>
                            <li>
                                <a href="<%- url_for(tag.path) %>"><i class="fa-solid fa-tag"></i> <%- tag.name %>
                                </a>
                            </li>
                            <% }) %>
                    </ul>
                </div>
            </article>
            <% }) %>
    </section>